@model System.Collections.Generic.IEnumerable<sena.cee.adso.WebApplicationMVC01.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "_Layout";
}

<h2>Customers</h2>


<div class="container">

</div>>