@model sena.cee.adso.WebApplicationMVC01.Models.Customer
@{
    ViewData["Title"] = "Details Customer";
}


<h1 class="text-center">Edit Customer</h1>


<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Edit Customer</strong></h3>
            </div>

            <div class="card-body">

                <form asp-controller="Customer" asp-action="Edit" method="post">
                    <!--ID del usuario como campo oculto-->
                    <input type="hidden" asp-for="CustomerId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" placeholder="Ingresa los nombres" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" placeholder="Ingresa los nombres" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" placeholder="Ingresa los nombres" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" placeholder="Ingresa los nombres" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" placeholder="Ingresa los nombres" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary d-block mx-auto"><i class="bi bi-pencil-fill"></i>Edit Customer</button>
                    </div>
                </form>

                <a asp-controller="Customer" asp-action="Index" class="btn btn-lg btn-danger p-2">
                    <i class="bi bi-box-arrow-left"></i>
                    Regresar
                </a>
            </div>

        </div>
    </div>
</div>